.message {
  width: 100%;
  padding: 20px 0;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
}

.imageAndText img {
  margin-top: 5px;
  width: 48px;
  height: 48px;
}

.text {
  background-color: #0066cc;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  position: relative;
}

.text:after {
  content: "";
  position: absolute;
  right: -14px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid #0066cc;
}

.name {
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  padding-right: 5px;
}

.messageText {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

.time {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  text-align: right;
  padding-right: 18px;
}
