.buttonsContainer {
  display: flex;
  margin-top: 40px;
  gap: 25px;
}

.responseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.imageContainer {
  margin-top: 60px;
  margin-bottom: 90px;
  max-width: 450px;
}

.image {
  max-width: 450px;
}

.textContainer{
  
  max-width: 500px;
 
}

.code {
  font-size: 30px;
  margin-bottom: 10px;
}

.text, 
.info {
  font-size: 16px;
}

.text{}

.info {
}