.hw {
  display: flex;
  gap: 110px;
  min-height: 300px;
}

.item {
  border-bottom: 1px solid #e5e5e5;
  height: 47px;
  font-weight: 600;
}

.item:last-of-type {
  border-bottom: none;
}

.users {
  width: 100%;
  border-collapse: collapse;
}

.buttonsContainer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.container {
  min-width: 600px;
}

.thead {
  height: 36px;
  background: rgb(229, 229, 229);
}

.thead > tr > td {
  font-weight: 600;
}

.nameCol {
  width: 50%;
  padding: 11px 17px;
  font-weight: 300;
  font-size: 14px;
}

.ageCol {
  font-size: 14px;
  
}
