.App {
    --header_height: 60px;
    font-family: Montserrat, sans-serif;
}

.hw {
 max-width: 80%;   
 /* width: 100%; */
 border-top: 2px solid #6b6868;
 border-bottom: 2px solid #6b6868;
 margin: 20px auto;
 padding: 20px 0;
}

.hw div{
    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; */
}

.hwTitle {
 text-align: center;
 font-weight: 700;
}