.App {
    --header_height: 60px;
    font-family: Montserrat, sans-serif;
    margin-top: 100px;
}

.hw {

 max-width: 80%;  
 min-height: 300px; 
 /* width: 100%; */
 border-top: 2px solid #6b6868;
 border-bottom: 2px solid #6b6868;
 margin: 20px auto;
 padding: 20px 0;
}


.hw div{
    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; */
}

.hwTitle {
 font-size: 22px;
 font-weight: 700;
 text-align: center;
}