.greetingForm {
  height: 372px;
}

.inputAndButtonContainer {
  display: flex;
  gap: 12px;
}

.error {
  font-size: 14px;
  font-weight: 400;
  color: rgb(204, 0, 0);
  margin-top: 7px;
}

.input {
  width: 372px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 8px 12px;
}

.input:focus,
.input:focus-visible {
  border: 1px solid #d1d1d1;
}

.errorInput {
  width: 372px;
  height: 36px;
  outline: none;
  border: 1px solid rgb(204, 0, 0);
  border-radius: 5px;
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  width: 78px;
  height: 36px;
  border-radius: 3px;
  border-color: transparent;
  color: white;
  background-color: #0066cc;
  transition: transform 0.3s ease;
}

.button:focus {
  outline: none;
  transform: scale(1.05);
}
.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.button:disabled {
  opacity: 0.5;
}

.text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.greeting {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}
