.button {
  background-color: #10e074;
}

.disabled {
  background-color: #000000;
}

.secondary {
  background-color: rgb(167, 14, 14);
}

.default {
  background-color: #3417b8;
}

.red {
  background-color: red;
  font-size: large;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
